Repository zzacong/linkedin-clone-next: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, yarn format:staged

feat: type check with zod
  package.json
  pages/api/posts/[id].ts
  pages/api/posts/index.ts
  yarn.lock
Due: yarn lint:staged, yarn format:staged

feat: move warning
  pages/_app.tsx
  pages/auth/signin.tsx
  pages/index.tsx
Due: yarn lint:staged

refactor: exclude react query dev tool in prod
  pages/_app.tsx
Due: yarn lint:staged

feat: modify warning
  components/Footer.tsx
  components/Sidebar.tsx
  pages/_app.tsx
  pages/auth/signin.tsx
  pages/index.tsx
Due: yarn lint:staged

move into src directory
  src/components/AddPost.tsx
  src/components/AddPostForm.tsx
  src/components/Avatar.tsx
  src/components/Feed.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HeaderLink.tsx
  src/components/Modal.tsx
  src/components/Post.tsx
  src/components/Sidebar.tsx
  src/components/Widgets.tsx
  src/lib/atoms/article.ts
  src/lib/atoms/index.ts
  src/lib/atoms/modal.ts
  src/lib/atoms/post.ts
  src/lib/config/firebase-admin.ts
  src/lib/config/firebase.ts
  src/lib/config/prisma.ts
  src/lib/hooks/index.ts
  src/lib/hooks/useWarnClone.ts
  src/lib/types/global.d.ts
  src/lib/types/index.ts
  src/lib/utils/api.ts
  src/lib/utils/index.ts
  src/middleware.ts
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/hello.ts
  src/pages/api/posts/[id].ts
  src/pages/api/posts/index.ts
  src/pages/auth/signin.tsx
  src/pages/feed/index.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
  tsconfig.json
Due: yarn lint:staged, yarn format:staged

edit tsconfig paths mapping
  src/lib/utils/api.ts
  tsconfig.json
Due: yarn lint:staged, yarn format:staged

fix api schema error
  src/pages/api/posts/[id].ts
  src/pages/api/posts/index.ts
Due: yarn lint:staged

feat: edge server render login page
  src/lib/types/index.ts
  src/pages/auth/signin.tsx
Due: yarn lint:staged

refactor: rename variable
  src/middleware.ts
Due: yarn lint:staged

chore: upgrade packages
  package.json
  yarn.lock
Due: yarn format:staged

fix: edge ssr
  src/components/Post.tsx
  src/pages/auth/signin.tsx
Due: yarn lint:staged

revert: edge ssr
  src/pages/auth/signin.tsx
Due: yarn lint:staged

auto animate
  package.json
  src/components/Feed.tsx
  yarn.lock
Due: yarn lint:staged, yarn format:staged

refactoring
  src/middleware.ts
  src/pages/api/auth/[...nextauth].ts
Due: yarn lint:staged

.env example
  .env.local.example
Due: none

downgrade next to fix next auth getToken
  package.json
  src/middleware.ts
  yarn.lock
Due: yarn lint:staged, yarn format:staged

demo for parents
  src/components/AddPost.tsx
Due: yarn lint:staged

Revert "demo for parents"
  src/components/AddPost.tsx
Due: yarn lint:staged

pnpm
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/components/AddPostForm.tsx
  src/components/Header.tsx
  src/components/Modal.tsx
  src/components/Post.tsx
  src/pages/auth/signin.tsx
  src/pages/index.tsx
  yarn.lock
Due: yarn lint:staged, yarn format:staged

Update package.json
  package.json
Due: yarn format:staged

prisma with jsonProtocol
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: yarn format:staged

update .gitignore
  .env.example
  .gitignore
  prisma/.gitignore
  prisma/schema.prisma
Due: none

upgrade prisma
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: yarn format:staged

add clone disclaimer
  public/favicon.ico
  public/linkedin_footer.svg
  public/linkedin_icon.png
  public/linkedin_icon_white.png
  public/linkedin_logo.svg
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/pages/index.tsx
Due: yarn lint:staged

add clone word to title
  src/pages/index.tsx
Due: yarn lint:staged

Path conditions:
  yarn lint:staged: any of: *.{js,jsx,ts,tsx}
  yarn format:staged: any of: *.{json,scss}
