Repository zzacong/linkedin-clone-next: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, yarn format:staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "yarn lint:staged",
  "*.{json,scss}": "yarn format:staged"
}

tutorial: build home page header
  components/HeaderLink.tsx
  package.json
  pages/home.tsx
  prisma/.gitignore
  public/linkedin_logo.svg
  styles/globals.css
  tailwind.config.js
  yarn.lock
Due: yarn lint:staged, yarn format:staged

tutorial: build home page content
  pages/home.tsx
  pages/index.tsx
  public/hero.svg
  styles/globals.css
Due: yarn lint:staged

tutorial: adding next-auth, prisma and build login functionality
  lib/config/prisma.ts
  lib/types/index.d.ts
  package.json
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/auth/signin.tsx
  pages/feed/_middleware.ts
  pages/feed/index.tsx
  pages/index.tsx
  prisma/schema.prisma
  public/Google_logo.svg
  public/favicon.ico
  tailwind.config.js
  yarn.lock
Due: yarn lint:staged, yarn format:staged

tutorial: build feed page header, dark mode toggling
  components/Avatar.tsx
  components/Header.tsx
  components/HeaderLink.tsx
  package.json
  pages/_app.tsx
  pages/feed/index.tsx
  public/linkedin_icon.png
  public/linkedin_icon_white.png
  yarn.lock
Due: yarn lint:staged, yarn format:staged

tutorial: build feed page grid
  components/Posts.tsx
  components/Sidebar.tsx
  components/Widgets.tsx
  pages/feed/index.tsx
Due: yarn lint:staged

tutorial: build first sidebar card
  components/Header.tsx
  components/Sidebar.tsx
  next.config.js
  pages/_app.tsx
  pages/feed/index.tsx
  public/premium.svg
  public/sidebar_bg.svg
  styles/globals.css
  tailwind.config.js
Due: yarn lint:staged

tutorial: build second sidebar card
  components/Header.tsx
  components/HeaderLink.tsx
  components/Sidebar.tsx
  pages/auth/signin.tsx
  pages/feed/index.tsx
  pages/index.tsx
  styles/globals.css
Due: yarn lint:staged

rebuild signin page
  pages/auth/signin.tsx
  tailwind.config.js
Due: yarn lint:staged

feat: fetch user session and display user data
  components/Header.tsx
  components/HeaderLink.tsx
  components/Sidebar.tsx
  pages/feed/index.tsx
Due: yarn lint:staged

rebuild Avatar component
  components/Avatar.tsx
  components/Header.tsx
  components/HeaderLink.tsx
  components/Sidebar.tsx
  styles/globals.css
Due: yarn lint:staged

feat: build start a post button
  components/AddPost.tsx
  components/Feed.tsx
  components/Header.tsx
  components/Posts.tsx
  components/Sidebar.tsx
  pages/auth/signin.tsx
  pages/feed/index.tsx
  styles/globals.css
Due: yarn lint:staged

feat: build modal - framer motion, headless ui
  components/AddPost.tsx
  components/Header.tsx
  components/Modal.tsx
  lib/atoms/index.ts
  lib/atoms/modal.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/feed/index.tsx
  styles/globals.css
  yarn.lock
Due: yarn lint:staged, yarn format:staged

feat: build add post form and modal
  components/AddPost.tsx
  components/AddPostForm.tsx
  components/Header.tsx
  components/HeaderLink.tsx
  components/Modal.tsx
  package.json
  pages/auth/signin.tsx
  pages/feed/index.tsx
  styles/globals.css
  tailwind.config.js
  yarn.lock
Due: yarn lint:staged, yarn format:staged

feat: build posts api
  lib/utils/api.ts
  pages/api/posts/[id].ts
  pages/api/posts/index.ts
  prisma/schema.prisma
Due: yarn lint:staged

feat: create new post and upload image to firebase storage
  components/AddPostForm.tsx
  components/Modal.tsx
  lib/config/firebase-admin.ts
  lib/config/firebase.ts
  lib/types/index.d.ts
  lib/utils/api.ts
  lib/utils/index.ts
  package.json
  pages/api/auth/[...nextauth].ts
  pages/api/posts/[id].ts
  pages/api/posts/index.ts
  pages/feed/index.tsx
  styles/globals.css
  yarn.lock
Due: yarn lint:staged, yarn format:staged

feat: close modal after create post
  components/AddPostForm.tsx
Due: yarn lint:staged

feat: ssr fetch posts using react-query
  components/Feed.tsx
  components/Post.tsx
  lib/utils/index.ts
  package.json
  pages/_app.tsx
  pages/api/posts/[id].ts
  pages/feed/index.tsx
  yarn.lock
Due: yarn lint:staged, yarn format:staged

feat: Avatar props and sidebar sticky
  components/AddPost.tsx
  components/AddPostForm.tsx
  components/Avatar.tsx
  components/HeaderLink.tsx
  components/Sidebar.tsx
  pages/feed/index.tsx
Due: yarn lint:staged

feat: build and style post component
  components/AddPost.tsx
  components/Feed.tsx
  components/Modal.tsx
  components/Post.tsx
  lib/atoms/index.ts
  lib/atoms/post.ts
  lib/types/index.d.ts
  lib/utils/index.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/api/posts/[id].ts
  pages/api/posts/index.ts
  pages/feed/index.tsx
  prisma/schema.prisma
  styles/globals.css
  yarn.lock
Due: yarn lint:staged, yarn format:staged

feat: build widgets and footer
  components/Footer.tsx
  components/Sidebar.tsx
  components/Widgets.tsx
  lib/atoms/article.ts
  lib/atoms/index.ts
  pages/feed/index.tsx
  public/linkedin_footer.svg
Due: yarn lint:staged

feat: redirect to /feed if logged in
  pages/_middleware.ts
  pages/index.tsx
Due: yarn lint:staged

feat: firebase config
  lib/config/firebase.ts
Due: yarn lint:staged

refactor: remove consoel.log
  components/Post.tsx
  pages/_middleware.ts
  pages/index.tsx
Due: yarn lint:staged

feat: post menu
  components/Modal.tsx
  components/Post.tsx
Due: yarn lint:staged

feat: update query state after create post
  components/AddPostForm.tsx
  lib/types/index.d.ts
  lib/utils/index.ts
  pages/api/posts/[id].ts
  styles/globals.css
Due: yarn lint:staged

feat: delete post with useMutation
  components/AddPostForm.tsx
  components/Post.tsx
  lib/utils/index.ts
  pages/api/posts/index.ts
Due: yarn lint:staged

fix send button color on hover
  components/Post.tsx
  components/Widgets.tsx
  lib/config/prisma.ts
  pages/auth/signin.tsx
Due: yarn lint:staged

use pnpm
  components/AddPostForm.tsx
  pnpm-lock.yaml
  yarn.lock
Due: yarn lint:staged

upgrade packages
  package.json
  pnpm-lock.yaml
Due: yarn format:staged

chore: update prisma
  package.json
  pnpm-lock.yaml
Due: yarn format:staged

chore: revert to yarn
  pnpm-lock.yaml
  yarn.lock
Due: none

feat: migrate from recoil to jotai
  components/AddPost.tsx
  components/AddPostForm.tsx
  components/Modal.tsx
  components/Post.tsx
  components/Widgets.tsx
  lib/atoms/article.ts
  lib/atoms/modal.ts
  lib/atoms/post.ts
  package.json
  pages/_app.tsx
  pages/feed/index.tsx
  yarn.lock
Due: yarn lint:staged, yarn format:staged

chore: upgrade packages
  package.json
  yarn.lock
Due: yarn format:staged

feat: upgrade react-query v4
  components/AddPostForm.tsx
  components/Feed.tsx
  components/Post.tsx
  pages/_app.tsx
  pages/feed/index.tsx
Due: yarn lint:staged

feat: upgrade middleware
  middleware.ts
  pages/_middleware.ts
  pages/feed/_middleware.ts
Due: yarn lint:staged

feat: rewrite middleware
  middleware.ts
  pages/api/auth/[...nextauth].ts
Due: yarn lint:staged

feat: static signin
  pages/auth/signin.tsx
  pages/feed/index.tsx
Due: yarn lint:staged

refactor: types changes
  lib/types/global.d.ts
  lib/types/index.d.ts
  lib/types/index.ts
Due: yarn lint:staged

feat: next auth changes
  lib/utils/api.ts
Due: yarn lint:staged

feat: add clone warning
  components/HeaderLink.tsx
  lib/hooks/index.ts
  lib/hooks/useWarnClone.ts
  pages/_app.tsx
  pages/index.tsx
Due: yarn lint:staged
